asgiref==3.6.0
awsebcli==3.20.7
botocore==1.29.158
cement==2.8.2
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.3
distlib==0.3.6
Django==4.1.4
django-binary-database-files==1.0.17
django-crispy-forms==2.0
djangorestframework==3.14.0
filelock==3.9.0
idna==3.4
jmespath==1.0.1
pathspec==0.10.1
Pillow==9.3.0
pipenv==2023.2.4
platformdirs==2.6.2
pypiwin32==223
python-dateutil==2.8.2
pytz==2022.7
pywin32==306
PyYAML==5.4.1
requests==2.31.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.3
termcolor==1.1.0
tzdata==2022.7
urllib3==1.26.16
vboxapi==1.0
virtualenv==20.17.1
virtualenv-clone==0.5.7
wcwidth==0.1.9
